{% extends 'Navigation.html' %}
{% load static %}

{% block body %}

    <div class="container-fluid bg-image-user img-responsive" style="margin-top: 50px;">

        <div class="in-image user-profile-tag">Frequently Asked Questions</div>

    </div>

    <div class="container">

        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                General Questions
            </div>

            <div class="col-md-12 col-sm-12 col-12">
                <button class="accordion acc-btn-style">What is Campus Marketplace ?</button>
                <div class="panel">
                    <p>
                        Campus Market Place is a platform through which students of the college/university can sell/donate and buy used/new resources such as Notes, Reference Books and Instruments.
                    </p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">What do the University says ?</button>
                <div class="panel">
                    <p>
                        It plays significant role in increasing the interaction between juniors, seniors and alumni.
                    </p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">Is this legal ?</button>
                <div class="panel">
                    <p>
                        Yes
                    </p>
                </div>
            </div>
        </div>


        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                Sellers
            </div>

            <div class="col-md-12">
                <button class="accordion acc-btn-style">What can't I sell ?</button>
                <div class="panel">
                    <p>
                        Your Written Assignments and practical. Students have to write this things themselves.
                    </p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">Which items can I sell ?</button>
                <div class="panel">
                    <p>
                        Your Old reference books, Hardware Instruments, Electronic stuffs your self written class notes.
                    </p>
                </div>
            </div>

        </div>



        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                Buyers
            </div>

            <div class="col-md-12">
                <button class="accordion acc-btn-style">How do I buy items ?</button>
                <div class="panel">
                    <p>
                        Create request for Item you want and seller will contact you ASAP.
                    </p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">How can i make payment ?</button>
                <div class="panel">
                    <p>
                        It's upto you and Seller.
                    </p>
                </div>
            </div>

        </div>


    </div>


{% endblock %}
