{% extends 'Navigation.html' %}
{% load static %}

{% block body %}

    <div class="container-fluid bg-image-user img-responsive">

        <div class="in-image user-profile-tag pp">Frequently Asked Questions</div>

    </div>

    <div class="container">

        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                General Questions
            </div>

            <div class="col-md-12 col-sm-12 col-12">
                <button class="accordion acc-btn-style">What is Marketplace-Notes ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">What do the University says ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">Is this legal ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>
        </div>


        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                Uploaders
            </div>

            <div class="col-md-12">
                <button class="accordion acc-btn-style">What can't I sell ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">What notes can I sell ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

        </div>



        <div class="row padding-im">

            <div class="col-md-12 all-heading">
                Downloaders
            </div>

            <div class="col-md-12">
                <button class="accordion acc-btn-style">How do I buy notes ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-12 ptop-15">
                <button class="accordion acc-btn-style">Can I edit notes I purchased ?</button>
                <div class="panel">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

        </div>


    </div>


{% endblock %}
